

.uagb-cta__content-wrap.uagb-cta__icon-position-above-title{
    text-align:center;
}

.edit-post-visual-editor a.uagb-cta__block-link-wrap {
    color: inherit;
}

.editor-rich-text .uagb-cta__title {
    margin-bottom: 10px;
}

.uagb-cta-separator-parent {
    margin-bottom: 10px;
}

.editor-rich-text .uagb-cta__desc {
    margin-bottom: 10px;
}
.uagb-cta__block-link i {
    font-style: normal;
}
.wp-block-uagb-call-to-action.uagb-cta__outer-wrap a.uagb-cta__link-to-all{
	z-index:0;
}
